{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>OMS自动运维平台</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <table class="table table-bordered">
        {% if user_list %}
            <tr>
                <td><label>User name</label></td>
                <td><label>User email</label></td>
            </tr>
            {% for user in user_list %}
                <tr>
                    <td> {{ user.username }} </td>
                    <td> {{ user.email }} </td>
                </tr>
            {% endfor %}
        {% else %}
            <p> no user </p>
        {% endif %}
    </table>
    <div>
        <a href="{% url 'oms:create' %}" class="button">创建用户</a>
        <a href="{% url 'oms:logout' %}" class="button">退出</a>
        <!--<a href="{% url 'oms:create_user' %}" class="button">创建用户</a>-->
    </div>


</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>