{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>create user</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    {% if errors %}
        <div>
            <label>{{ errors }}</label>
        </div>
    {% endif %}
    <form method="post">
    {% csrf_token %}
        <div class="form-group">
            {{ form.username.errors }}
            <label for="user_name"> User name </label>
            <input class="form-control" name="username"/>
        </div>
        <div class="form-group">
            {{ form.password.errors }}
            <label for="user_password"> User password </label>
            <input class="form-control" type="password" name="password" />
        </div>
        <div class="form-group">
            {{ form.email.errors }}
            <label for="user_email"> User email </label>
            <input class="form-control" name="email" />
        </div>
        <button type="submit" class="btn btn-default"> Submit </button>
    </form>
</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>
